body {
  background-color: #273549;
  display: flex;
  font-family: "Noto Sans", sans-serif;
}

#app-area {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2%;
  min-width: 300px;
  max-width: 450px;
}

#title {
  color: white;
}

#sub-title {
  color: #919FAC;
  font-weight: bold;
  letter-spacing: -1px;
}

#random-password {
  color: #C4B5FD;
}

#generate-btn {
  background-color: #8655F6;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#generate-btn:hover {
  background-color: #6830eb;
}

hr {
  color: gray;
}

#generate-area {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.text-box {
  width: 185px;
  height: 45px;
  background-color: #40536d;
  border-radius: 5px;
}

.password-text {
  font-size: 13.5px;
  text-align: center;
  text-wrap: nowrap;
  color: white;
}

input {
  --s: 15px;
  /* adjust this to control the size*/
  height: var(--s);
  aspect-ratio: 2.5;
  width: auto;
  border-radius: var(--s);
  padding: calc(var(--s)/10);
  margin: calc(var(--s)/2);
  margin-left: 0px;
  cursor: pointer;
  background:
    radial-gradient(farthest-side, white 96%, #0000) var(--_p, 0%)/var(--s) content-box no-repeat,
    var(--_c, #b9ababdf);
  box-sizing: content-box;
  transform-origin: calc(3*var(--s)/5) 50%;
  transition: transform cubic-bezier(0, 300, 1, 300) .5s, background .3s .1s ease-in;
  appearance: none;
}

input:checked {
  --_c: #8655F6;
  --_p: 100%;
  transform-origin: calc(100% - 3*var(--s)/5) 50%;
  transform: rotate(0.1deg);
}

.switch-text {
  color: white;
  font-size: 14px;
}

.toggle {
  display: flex;
  align-items: center;
}

.controller {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  align-items: center;
}

.choose-length > label {
  color: white;
  font-size: 15px;
}

#password-length {
  border-radius: 5px;
  width: 50px;
}

#password-length:focus {
  outline-color: #8655F6;
}

/* media query */
@media only screen and (max-width: 412px) {
  .controller {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
  }

  #password-length {
    margin-bottom: 8px;
  }
}

.click-to-copy {
  color: white;
}